.container-h{
    background-color:blueviolet;
    width:99vw;
    height:100vh;
    z-index: 1;
}

.container-hk{
    background-color:pink;
    width:99vw;
    height:100vh;
    z-index: 1;
}
.container-hks{
    background-color:white;
    width:99vw;
    height:100vh;
    z-index: 10;
}

.shinchan{
    margin-top:30%;
    background-color:white;
    width:99vw;
    height:100vh;
    z-index: 1;
}